:root {
    --main-color: #d92123;
    --primary-text-color: #fff;
    --secondary-text-color: #191919;
    --secondary-color: #868686;
    --tertiary-color: #eff3f4;
    --secondary-bg-color: #5c1011;

}


* {                          /* reset para zerar as propriedades das paginas html */    
    font-family: "Lato";
    padding: 0;
    margin: 0;
    box-sizing: border-box;    /**/   /* borda da caixa */    
}

a {
    text-decoration: none;
}

img {
    width: 100%;

}

i {
    background-color: var(--main-color);
    color: var(--primary-text-color);
    font-size: 1rem;
    padding: 1rem;
}

/* id */
#header{
    /* tamanho 90% do espaço */
    min-height: 90vh;
    background-image: url("../images/main_banner4.png");
    background-size: cover;
    background-position: center;
    color: var(--primary-text-color);
    /* REM e  EM  são 16pixel, o em sozinho = tamanho da fonte tag pai,  rem é r de root, ref a tag body */
    margin-bottom: 2rem;   

}

 
 #inner-header{
    /* padrão linha */
    display: flex;
    /* alinhamento é horizontal, eixo x */
    justify-content: space-between;
    /* alinhamento vertical eixo y */
    align-items: center;
 }

 #brand{
    background-color: var(--main-color);
    padding: 1rem;
 }

 #navbar{
    display: flex;
    /* espaçamento do display flex */
    gap: 2rem;
    /* transformar todo o texto em MAIUSCULO */
    text-transform: uppercase;
    /* margem do lado direito 2rem (2 vexes 16 pixel ou o em definido no root) */
    margin-right: 2rem;
 }

 /* esse "a" so vai ser estilizado quando estiver dentro dos links da navbar */
 #navbar a {
    color: var(--primary-text-color);
    font-weight: bold;
    padding: 1rem;
 }

 /* banner slogan de propaganda  */
 .banner.active{ 
    /* banner ativo é mostrado */
    opacity: 1; 
    
 }
 .banner{
    /* limite da caixa 50% da margem */
    max-width: 45%;
    opacity: 0;
    padding: 4rem;
    position: absolute;
 }
 
 .banner h2{
    font-size: 4rem;
    margin-bottom: 1.2rem;
    /* position relative é relativo a caixa. */
    position: relative;
    /* o z-index define o eixo "z" de profundidade 3d na frente ou atrás */
    z-index: 2;
 }

 .banner p{
    font-size: 1.5rem;
 }
 /* fazer o design do quadrado logo abaixo do titulo principal Pearson Hardman */
.square{
    display: block;
    width: 150px;
    height: 150px;
    background-color: var(--main-color);
    /* RELATIVE - sempre em relação a caixa 
       ABSOLUTE - é em relação a um elemento especifico dentro da caixa */
    /* relativo a caixa , o position absolute no square faz com que o conteudo do banner adentre o square */
    position: absolute;
    left: 20px;
    top: 40px;
    z-index:1;
}

.dots{
    display:flex;
    gap: 2rem;
    /*position absolute em relação a header, pelo position absolute consegue mexer com as 4 posições cima, baixa, esquerda, direita */
    position: absolute;
    bottom: 9rem;
    left: 3rem;
}

.dot{
    width: 20px;
    height: 20px;
    background-color: var(--secondary-color);
}

.dot.active{
    background-color: var(--secondary-bg-color);
}

#other-services{
    width: 100%;
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.service{
    position: relative;
}

.service i{
    position: absolute;
    left: 0;
    top:  0px;
}

.service-info{
    background-color: var(--tertiary-color);
    padding: 2rem 1.4rem;
    min-height: 250px;
}

.service h4{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

/* Section about - Sobre nós */
#about{
    display: flex;   /* display flex, alinha as caixas lado a lado*/
    flex-wrap: wrap;  /*  flex wrap: se alguma coisa não couber, ele joga pra baixo */
    align-items: center;
    gap: 2rem;
}
#about-text{
    background-image: url("../images/pattern.png");
    background-size: cover;  /* cover vai preencher a imagem*/
    background-position: center;  /* centraliza a imagem de fundo bem no centro*/
    color: var(--primary-text-color);  /* deixar o texto da box na cor branca*/
    display: flex;
    flex: 1 1 0; 
    /* flex: grow shrink basis */
    /* grow - define quanto o elemento cresce em relação aos outros */
    /* shrink - define quando ele encolhe quando não há espaço */
    /* basis -  define o tamanho inicial do elemento antes de aplicar o crescimento e encolhimento */
    flex-direction: column; /* vai usar o flex horizontal, no entanto vai flexionar em coluna na vertical*/
    justify-content: center;
    gap: 2rem;
    padding: 4rem 3rem; /* padding com duas informações, represente up 4 e down 3 */
}

#about-text .section-subtitle,
#about-text .section-title{
    color: var(--primary-text-color)    
}

#about-text i {
    background-color: transparent;
}

.about-description{
    display: flex;
}